{% extends 'base.html' %}
{% block content %}
{% with success = get_flashed_messages(category_filter=["success"]) %}
{% if success %}
    {% for msg in success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    
    {% endfor%}
{% endif %}
{% endwith %}

<h1>add Blog</h1>
    <br/>
    <form method="post" action="/add-blog-post">
        {{ form_obj.hidden_tag() }}
        {{ form_obj.title.label(class="form-label")}}
        {{ form_obj.title(class="form-control")}}
        <br/>
        

        {{ form_obj.slug.label(class="form-label")}}
        {{ form_obj.slug(class="form-control")}}


        <br/>
        {{ form_obj.content.label(class="form-label")}}
        {{ form_obj.content(class="form-control", rows="10")}}


        <br/>
        {{ form_obj.submit(class="btn btn-primary mb-3")}}


    </form>


{% endblock %}
