{% extends 'base.html' %}
{% block content %}
{% with success = get_flashed_messages(category_filter=["success"]) %}
{% if success %}
    {% for msg in success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    
    {% endfor%}
{% endif %}
{% endwith %}


{% if name %}
    <h1>{{ name }}</h1>
{% else %}
    <h1>adduser</h1>
    <br/>
    <form method="post" action="/user/add">
        {{ form_obj.hidden_tag() }}
        {{ form_obj.name.label(class="form-label")}}
        {{ form_obj.name(class="form-control")}}
        <br/>
        {{ form_obj.email.label(class="form-label")}}
        {{ form_obj.email(class="form-control")}}
        <br/>

        {{ form_obj.password_hash.label(class="form-label")}}
        {{ form_obj.password_hash(class="form-control")}}


        <br/>
        {{ form_obj.password_hash2.label(class="form-label")}}
        {{ form_obj.password_hash2(class="form-control")}}


        <br/>
        {{ form_obj.favorite_color.label(class="form-label")}}
        {{ form_obj.favorite_color(class="form-control")}}
        <br/>
        {{ form_obj.submit(class="btn btn-primary mb-3")}}


    </form>
    <br/><br/><br/>
    <table class="table table-striped">
    {% for usr in AllUsers %}
        <tr>
            <td>{{usr.id}}.<a href="{{ url_for('update',id=usr.id)}}"> {{usr.name}}</a>-{{usr.email}}-{{ usr.favorite_color }}-{{ usr.password_hash }}-<a href="{{ url_for('delete',id=usr.id)}}">delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock%}